<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<style>
    .error-message {
        color: red
    }
</style>

<body>
    <form action="/login" method="post">
        <label for="user_name">Enter your name:</label>
        <input id="user_name" type="text" name="userName" placeholder="Username"/>
        <input type="submit" name="submit" value="Confirm"/>
    </form>
    <% if (invalidUsername) { %>
        <div class="error-message">Invalid username. Name can only contain letters and digits.</div>
    <% } %>
</body>

</html>