<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Battleships</title>
</head>

<style>
.box {
    margin: auto;
    margin-top: 10px;
    width: 50%;
    background-color: rgb(173, 171, 171);
    padding: 10px;
    border-radius: 5px;
    outline: none;
}

.input {
    height: 30px;
    border-radius: 10px;
    width: 200px;
    outline: none;
}

.button {
    border-radius: 10px;
    border-color: gray;
    outline: none;
    background-color: rgb(50, 192, 50);
}

.rooms {
    display: grid;
}

.room-name {
    font-weight: bold;
}

.room-members {
    font-weight: bold;
}

.room {
    outline-style: dotted;
    margin: 10px;
    padding: 10px;
    background-color: whitesmoke;
}
</style>

<body>
    <form class="box" method='post' action='/relog'>
        <input class="button" type="submit" name="submit" value="Choose a new username">
    </form>

    <form class="box" method='post' action='/make-room'>
        <input type="text" name="roomName" placeholder="Room name (optional)"/>
        <input class="button" type="submit" name="submit" value="Create room"/>
    </form>

    <div class="box rooms">
        <form method='get' action='/rooms'>
            <input class="button" type="submit" name="submit" value="Refresh">
        </form>
        <span>Existing rooms (refresh to see more):</span>
        <% for (let room of rooms) {%>
            <div class="room">
                <div class="room-name"><%= room.name %></div>
                <div class="room-members">Players: <%= room.members() %></div>
                <form method='post' action=<%= '/join-room?id=' + room.id %>>
                    <input class="button" type="submit" name="submit" value="Join room"
                    <% if (room.isFull()) { %>
                        disabled
                    <% } %>
                    />
                </form>
            </div>
        <% } %>
    </div>
</body>

</html>