<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Room list</title>
</head>

<body>
    <form method='post' action='/relog'>
        Choose a new username:
        <input type="submit" name="submit" value="Go to login">
    </form>

    <form method='post' action='/make-room'>
        Create a new room:
        <input type="text" name="roomName" placeholder="Room name (optional)"/>
        <input type="submit" name="submit" value="Create room"/>
    </form>

    <div>
        Existing rooms (refresh to see more):
        <% for (let room of rooms) {%>
            <div class="room">
                <div class="room-name"><%= room.name %></div>
                <div class="room-members"><%= room.members() %></div>
                <form method='post' action=<%= '/join-room?id=' + room.id %>>
                    <input type="submit" name="submit" value="Join room"/>
                </form>
            </div>
        <% } %>
    </div>

</body>

</html>