.grid div {
  width: 40px;
  height: 40px;
  box-sizing: border-box;
  border: 1px solid black;
}

.available {
  width: 40px;
  height: 40px;
  background-color: seagreen;
  display: flex;
}

.shot {
  width: 40px;
  height: 40px;
  background-color: red;
  display: flex;
}

.miss {
  width: 40px;
  height: 40px;
  background-color: rgb(207, 140, 140);
  display: flex;
}

.container {
  display: flex;
  margin: 10px;
}

.container-2 {
  display: none;
  margin: 10px;
}
.container-3 {
  margin-left: 50px;
}

.deploy-ships {
  background-color: white;
  width: 400px;
  height: 250px;
  margin: 10px;
  margin-top: 120px;
}

.your-ships {
  background-color: rgb(107, 189, 175);
  width: 400px;
  height: 400px;
  margin: 10px;
  margin-top: 0px;
  display: flex;
  flex-wrap: wrap;
}

.grid-user {
  background-color: rgb(107, 189, 175);
  width: 400px;
  height: 400px;
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
}

.grid-computer {
  background-color: rgb(107, 189, 175);
  width: 400px;
  height: 400px;
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
}

.ship div {
  width: 40px;
  height: 40px;
}

.taken div {
  width: 40px;
  height: 40px;
}

.ship-container {
  margin: 10px;
}

.shortest {
  width: 80px;
  height: 40px;
  display: flex;
  background-color: hotpink;
  border: 0px !important;
}
.deploy-ships .shortest {
  border-radius: 25px;
}

.shortest-ver {
  width: 40px;
  height: 80px;
  background-color: hotpink;
  flex-wrap: wrap;
  display: inline-block;
  border: 0px !important;
}
.deploy-ships .shortest-ver {
  border-radius: 25px;
}

.short {
  width: 120px;
  height: 40px;
  background-color: yellow;
  display: flex;
  border: 0px !important;
}
.deploy-ships .short {
  border-radius: 25px;
}

.short-ver {
  width: 40px;
  height: 120px;
  background-color: yellow;
  display: inline-block;
  border: 0px !important;
}
.deploy-ships .short-ver {
  border-radius: 25px;
}

.short2 {
  width: 120px;
  height: 40px;
  background-color: fuchsia;
  display: flex;
  border: 0px !important;
}
.deploy-ships .short2 {
  border-radius: 25px;
}
.short2-ver {
  width: 40px;
  height: 120px;
  background-color: fuchsia;
  display: inline-block;
  border: 0px !important;
}
.deploy-ships .short2-ver {
  border-radius: 25px;
}

.numbers {
  display: flex;
  margin-left: 10px;
  margin-top: 10px;
}
.num-div {
  text-align: center;
  width: 40px;
  height: 30px;
}
.letters {
  display: block;
  margin-left: 10px;
  margin-top: 10px;
}
.let-div {
  text-align: center;
  width: 20px;
  height: 40px;
}
.long {
  width: 160px;
  height: 40px;
  background-color: black;
  display: flex;
  border: 0px !important;
}

.deploy-ships .long {
  border-radius: 25px;
}

.long-ver {
  width: 40px;
  height: 160px;
  background-color: black;
  display: inline-block;
  border: 0px !important;
}
.deploy-ships .long-ver {
  border-radius: 25px;
}
.longest {
  width: 200px;
  height: 40px;
  background-color: rgb(6, 80, 80);
  display: flex;
  border: 0px !important;
}
.deploy-ships .longest {
  border-radius: 25px;
}

.longest-ver {
  width: 40px;
  height: 200px;
  background-color: rgb(6, 80, 80);
  display: inline-block;
  border: 0px !important;
}
.deploy-ships .longest-ver {
  border-radius: 25px;
}
.right-end {
  border-radius: 0px 25px 25px 0px;
}

.left-end {
  border-radius: 25px 0px 0px 25px;
}
.top-end {
  border-radius: 25px 25px 0px 0px;
}
.bot-end {
  border-radius: 0px 0px 25px 25px;
}
